//sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 320px;
}

.main {
    flex: 1;
}

.hide {
    display: none;
}

.show {
    display: inline-table;
}